{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": ["*.html", "*.vue"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
